<h2>Edit Profile</h2>

<!-- form to edit user's information -->
<h4>Your Information:</h4>
<%= form_for @user do |form| %>
  <%= form.hidden_field :email, value: current_user.email %>
  <%= form.hidden_field :username, value: current_user.username %>

  <%= form.label :name %>
  <p>
    <%= form.text_field :name, autofocus: true, placeholder: @user.name %>
  </p>
  <%= form.label :birth_month %>
  <p>

    <%= form.select :birth_month,[[], ['Jan', 'Jan'], ['Feb', 'Feb'], ['Mar', 'Mar'], ['Apr', 'Apr'], ['May', 'May'], ['Jun', 'Jun'], ['Jul', 'Jul'], ['Aug', 'Aug'], ['Sept', 'Sept'], ['Oct', 'Oct'], ['Nov', 'Nov'], ['Dec', 'Dec']] %>
  </p>
  <%= form.label :birth_year %>
  <p>
    <%= form.number_field :birth_year, placeholder: @user.birth_year %>
  </p>
  <%= form.label :sex %>
  <p>
    <%= form.select :sex, [[], ['Male', 'Male'], ['Female', 'Female'], ['Other', 'Other']]  %>
  </p>

  <h4>Change Your Password:</h4> <i>(leave blank if you don't want to change it)</i><br>
  <%= form.label :password %>
  <p>
    <%= form.password_field :password %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </p>

  <%= form.label :password_confirmation %><br>
  <p>
    <%= form.password_field :password_confirmation %>
  </p>


  <%= form.label :current_password %> <i>(we need your current password to confirm your new password)</i><br>
  <p>
    <%= form.password_field :current_password %>
  </p>

  <p>
    <%= form.submit 'Save Changes' %>
  </p>
<% end %>

<%= link_to 'Cancel', user_path(@user) %>
