<!-- Displays all the people that the user follows -->
<center>
  <article id = "recents_article">
    <table id = "function_link_table">
      <tr>
        <td>
          <p style = "text-align:left">
            <%= link_to 'Back', @user, id: "back_link" %>
          </p>
        </td>
      </tr>
    </table>

    <p id = "recents_title"> <%= @user.username %>'s Followers </p>

    <table id = "recents_table">
      <tr>
        <td colspan = "2" width = "250">
          <center>
            <strong>Username:</strong>
          </center>
        </td>
        <td width = "140">
          <center>
            <strong>Followers:</strong>
          </center>
        </td>
        <td width = "140">
          <center>
            <strong>Following:</strong>
          </center>
        </td>
      </tr>
    </table>

    <% @followers.each do |followers| %>
      <table id = "recents_table">
        <tr>
          <td width = "60">
            <%= link_to followers do %>
              <% @link = followers.avatar.url(:thumb) %>
              <%if @link %>
                <img class = "avatar_image_small" src = "<%= @link %>">
              <% else %>
                <img class = "avatar_image_small" src = "<%= asset_path 'default_avatar.jpg' %>">
              <% end %>
            <% end %>
          </td>
          <td width = "130">
            <%= link_to followers.username, followers, id: "user_link"%>
          </td>
          <td width = "150">
            <center>
              <%= followers.followers.count %>
            </center>
          </td>
          <td width = "150">
            <center>
              <%= followers.following.count %>
            </center>
          </td>
        </tr>
      </table>
    <% end %>
  </article>
</center>
