<center>
  <article id = "recents_article">
    <p style="text-align:left">
      <%= link_to 'Return to Explore', explore_path, id: "back_link" %>
    </p>

    <h2> All Users </h2>

    <table id = "recents_table">
      <tr>
        <td colspan = "2" width = "250">
          <center>
            <strong>Username:</strong>
          </center>
        </td>
        <td width = "140">
          <center>
            <strong>Followers:</strong>
          </center>
        </td>
        <td width = "140">
          <center>
            <strong>Following:</strong>
          </center>
        </td>
      </tr>
    </table>

    <% @users.each do |user| %>
      <table id = "recents_table">
        <tr>
          <td width = "60">
            <%= link_to user do %>
              <% @link = user.avatar.url(:thumb) %>
              <%if @link %>
                <div id = "avatar_image" style = "background: url(<%= @link %>)" >
                </div>
              <% else %>
                <div id = "avatar_image" style = "background: url(<%= asset_path 'default_avatar.jpg' %>)">
                </div>
              <% end %>
            <% end %>
          </td>
          <td width = "130">
            <%= link_to user.username, user, id: "user_link"%>
          </td>
          <td width = "150">
            <center>
              <%= user.followers.count %>
            </center>
          </td>
          <td width = "150">
            <center>
              <%= user.following.count %>
            </center>
          </td>
        </tr>
      </table>
    <% end %>
    <!-- provides link that allows users to move between pages -->
    <%= will_paginate @users %>
  </article>
</center>
