<%= link_to 'Return to Explore', explore_path %>

<h2> All Users </h2>

<table>
  <center>
    <tr>
      <td colspan = "2">
        <strong>Username:</strong>
      </td>
      <td>
        <strong>Followers:</strong>
      </td>
      <td>
        <strong>Following:</strong>
      </td>
    </tr>
    <% @users.each do |user| %>
      <tr>
        <td width = "50">
          <%= link_to avatar_for(user, size: 35), user %>
        </td>
        <td width = "90">
          <%= user.username %>
        </td>
        <td width = "85">
          <%= user.followers.count %>
        </td>
        <td width = "85">
          <%= user.following.count %>
        </td>
      </tr>
    <% end %>
  </center>
</table>
<!-- provides link that allows users to move between pages -->
<%= will_paginate @users %>
