<center>
  <article id = "recents_article">
    <table id = "function_link_table">
      <tr>
        <td>
          <p style = "text-align:left">
            <%= link_to 'Return to Explore', explore_path, id: "back_link" %>
          </p>
        </td>
      </tr>
    </table>

    <h2> All Users </h2>

    <table id = "recents_table">
      <tr>
        <td colspan = "2" width = "250">
          <center>
            <strong>Username:</strong>
          </center>
        </td>
        <td width = "140">
          <center>
            <strong>Followers:</strong>
          </center>
        </td>
        <td width = "140">
          <center>
            <strong>Following:</strong>
          </center>
        </td>
      </tr>
    </table>

    <% @users.each do |user| %>
      <table id = "recents_table">
        <tr>
          <td width = "60">
            <%= link_to user do %>
              <% @link = user.avatar.url(:thumb) %>
              <%if @link %>
                <img class = "avatar_image_small" src = "<%= @link %>">
              <% else %>
                <img class = "avatar_image_small" src = "<%= asset_path 'default_avatar.jpg' %>">
              <% end %>
            <% end %>
          </td>
          <td width = "130">
            <%= link_to user.username, user, id: "user_link"%>
          </td>
          <td width = "150">
            <center>
              <%= user.followers.count %>
            </center>
          </td>
          <td width = "150">
            <center>
              <%= user.following.count %>
            </center>
          </td>
        </tr>
      </table>
    <% end %>
    <!-- provides link that allows users to move between pages -->
    <div id = "pagination">
      <%= will_paginate @users %>
    </div>
  </article>
</center>
