<center>
  <article id = "recents_article">
    <p style="text-align:left">
      <%= link_to 'Return to Explore', explore_path, id: "back_link" %>
    </p>

    <h2> Popper Accounts </h2>

    <form action = "/search">
      <h3>Search for Users</h3>
      <input name = "q" type="text" placeholder = "Search" aria-label="Search" id = "search_bar"><br><br>
      <button type="submit" id = "function_button_positive">Search</button>
    </form>
    <p></p>

    <%= link_to 'View all Users', users_path, id: "link_neutral" %>

    <p></p>
    <hr id = "horizontal_ruling">

    <% if @users.any? %>
      <h3> Search Results </h3>
      <table id = "recents_table">
        <tr>
          <td colspan = "2" width = "207">
            <center>
              <strong>Username:</strong>
            </center>
          </td>
          <td width = "133">
            <center>
              <strong>Followers:</strong>
            </center>
          </td>
          <td width = "140">
            <center>
              <strong>Following:</strong>
            </center>
          </td>
        </tr>
      </table>
      <% @users.each do |user| %>
          <table id = "recents_table">
            <tr>
              <td width = "60">
                <%= link_to user do %>
                  <% @link = user.avatar.url(:thumb) %>
                  <%if @link %>
                    <div id = "avatar_image" style = "background: url(<%= @link %>)" >
                    </div>
                  <% else %>
                    <div id = "avatar_image" style = "background: url(<%= asset_path 'default_avatar.jpg' %>)">
                    </div>
                  <% end %>
                <% end %>
              </td>
              <td width = "140">
                <%= link_to user.username, user, id: "user_link"%>
              </td>
              <td width = "150">
                <center>
                  <%= user.followers.count %>
                </center>
              </td>
              <td width = "150">
                <center>
                  <%= user.following.count %>
                </center>
              </td>
            </tr>
          </table>
      <% end %>
    <% else %>
      No users have a username that contains "<%= @search %>"
    <% end %>

    <!-- provides link that allows users to move between pages -->
    <%= will_paginate @users %>
  </article>
</center>
