<aside>
  <!-- if statement added so other users cannot edit or delete other accounts -->
  <%= link_to 'Back', :back, id: "function_button" %><br>
  <% if @user.id == current_user.id %>
    <%= link_to 'Logout', destroy_user_session_path, method: :delete, id: "logout_button" %><br>
    <%= link_to 'Edit Account', edit_user_registration_path, id: "function_button" %><br>
    <%= link_to 'Delete Account', registration_path(current_user), id: "delete_account_button", method: :delete, data: {confirm: 'Are you sure? You cannot reverse this decision'} %>
  <% end %>
</aside>

<h2> <%= @user.username %> </h2>
<%= avatar_for(@user) %>
<p>
  <%= link_to 'Followers:', followers_user_path(@user) %> <%= @user.followers.count %> | <%= link_to 'Following:', following_user_path(@user) %> <%= @user.following.count %>
</p>
<%= render 'followButton' %>

<!-- table displays information of the user -->
<table id = "profile_table">
  <p>
  <tr>
    <td>
      <strong>Email: </strong>
    </td>
    <td>
      <%= @user.email %>
    </td>
  </tr>
  <tr>
    <td>
        <strong>Name: </strong>
    </td>
    <td>
      <%= @user.name %>
    </td>
  </tr>
  <tr>
    <td>
      <strong>Birth Month: </strong>
    </td>
    <td>
      <%= @user.birth_month %>, <%= @user.birth_year %>
    </td>
  </tr>
  <tr>
    <td>
      <strong>Sex: </strong>
    </td>
    <td>
      <%= @user.sex %>
    </td>
  </tr>
  </p>
</table>

<hbr>

<!-- table displays the user's posts -->
<h2> <%= @user.username %>'s Posts </h2>
<table>
  <% @user.posts.reverse_each do |post| %>
    <tr>
        <td>
          <%= link_to post.title, post_path(post) %><br>
          <%= pluralize(post.likes.count, "Like") %>
        </td>
        <% if post.post_file? %>
          <tr>
            <td colspan = "2" width = "900">
              <%= post_file_for(post) %>
            </td>
          </tr>
        <% end %>
      <tr>
        <td colspan = "2" width = "900">
          <p id = "recents_display_body">
            <% if post.body.length >= 200 %>
              <%= post.body[0..199] %>... <i>(Click the title to see more)</i>
            <% else %>
              <%= post.body[0..199] %>
            <% end %>
          </p>
        </td>
      </tr>
  <% end %>
</table>
