<aside>
  <!-- if statement added so other users cannot edit or delete other accounts -->
  <%= link_to 'Back to Feed', root_path, id: "function_button" %><br>
  <% if @user.id == current_user.id %>
    <%= link_to 'Logout', destroy_user_session_path, method: :delete, id: "logout_button" %><br>
    <%= link_to 'Edit Account', edit_user_registration_path, id: "function_button" %><br>
    <%= link_to 'Delete Account', registration_path(current_user), id: "delete_account_button", method: :delete, data: {confirm: 'Are you sure? You cannot reverse this decision'} %>
  <% end %>
</aside>

<h2> <%= @user.username %> </h2>
<%= avatar_for(@user) %>

<!-- table displays information of the user -->
<table id = "profile_table">
  <p>
  <tr>
    <td>
      <strong>Email: </strong>
    </td>
    <td>
      <%= @user.email %>
    </td>
  </tr>
  <tr>
    <td>
        <strong>Name: </strong>
    </td>
    <td>
      <%= @user.name %>
    </td>
  </tr>
  <tr>
    <td>
      <strong>Birth Month: </strong>
    </td>
    <td>
      <%= @user.birth_month %>, <%= @user.birth_year %>
    </td>
  </tr>
  <tr>
    <td>
      <strong>Sex: </strong>
    </td>
    <td>
      <%= @user.sex %>
    </td>
  </tr>
  </p>
</table>

<hbr>

<!-- table displays the user's posts -->
<table>
  <tr>
    <td>
      <strong> <%= @user.username %>'s Posts </strong>
    </td>
  </tr>
  <% @user.posts.reverse_each do |post| %>
    <tr>
      <td>
        <%= link_to post.title, post_path(post), id: "recents_display_title_links" %> <br>
        <%= post.body %>
      </td>
    </tr>
  <% end %>
</table>
