<!-- Form used to create a post -->
<%= form_with scope: :post, url: posts_path, local: true do |form| %>
  <!-- notifies user of any errors in their input -->
  <% if @post.errors.any? %>
    <div id = "post_error_explanaton">
      <h2>
        <%= pluralize(@post.errors.count, "error") %>
        are present. Please fix them before sharing the post.
      </h2>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- input for the post -->
  <p>
    <strong><%= form.label :title %><strong><br>
    <%= form.text_area :title %>
  </p>
  <p>
    <strong>Image</strong><br>
    <%= form.file_field :post_file %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
