
<center>
  <article id = "recents_article">
    <p id = "recents_title"> Explore </p>

    <form action = "/search">
      <h3>Search for Users</h3>
      <input name = "q" type="text" placeholder = "Search" aria-label="Search" id = "search_bar"><br><br>
      <button type="submit" id = "function_button_positive">Search</button>
    </form>

    <p></p>

    <%= link_to 'View all Users', users_path, id: "link_neutral" %>

    <p></p>
    <hr id = "horizontal_ruling">

    <h2> All Posts </h2>
    <i>The posts displayed are from users you do not follow</i>
    <p></p>
      <% @posts.reverse_each do |post| %>
        <!-- only displays posts from users the current user does not follow -->
        <% if post.user != current_user && !current_user.following?(post.user)  %>
        <table id = "recents_table">
          <tr id = "top_row">
            <td width = "50">
              <%= link_to post.user do %>
                <% @link = post.user.avatar.url(:thumb) %>
                <%if @link %>
                  <div id = "avatar_image" style = "background: url(<%= @link %>)" >
                  </div>
                <% else %>
                  <div id = "avatar_image" style = "background: url(<%= asset_path 'default_avatar.jpg' %>)">
                  </div>
                <% end %>
              <% end %>
            </td>
            <td colspan = "2">
              <%= link_to post.user.username, post_path(post), id: "post_title_link" %>:
              <%= link_to post.title, post_path(post), id: "post_title_link" %><br>
              <%= pluralize(post.likes.count, "Like") %>
            </td>
          </tr>
          <% if post.post_file? %>
            <tr>
              <td colspan = "3" width = "900">
                <center>
                  <%= link_to post_file_for(post), post_path(post), id: "post_link" %>
                </center>
              </td>
            </tr>
          <% end %>
          <tr>
            <td colspan = "3" width = "900">
              <p id = "recents_display_body">
                <% if post.body.length >= 200 %>
                  <%= link_to post.body[0..199], post_path(post), id: "post_link" %>... <i id = "post_link" > (Click the title to see more)</i>
                <% else %>
                  <%= link_to post.body[0..199], post_path(post), id: "post_link" %>
                <% end %>
              </p>
            </td>
          </tr>
        </table>
      <% end %>
    <% end %>
    <!-- provides link that allows users to move between pages -->
    <%= will_paginate @posts %>
  </article>
</center>
