<center>
  <article id = "recents_article">
    <% if current_user.following?(@post.user) || current_user == @post.user %>
      <p style="text-align:left">
        <%= link_to 'Recents', posts_path, id: "back_link" %>
      </p>
    <% else %>
      <p style="text-align:left">
        <%= link_to 'Explore', explore_path, id: "back_link" %>
      </p>
    <% end %>
    <table id = "display_table">
      <tr>
        <td width = "60">
          <%= link_to @post.user do %>
            <% @link = @post.user.avatar.url(:thumb) %>
            <%if @link %>
              <div id = "avatar_image" style = "background: url(<%= @link %>)" >
              </div>
            <% else %>
              <div id = "avatar_image" style = "background: url(<%= asset_path 'default_avatar.jpg' %>)">
              </div>
            <% end %>
          <% end %>
        </td>
        <td>
          <h3 style = "text-align:left;font-size:20px;"> <%= @post.user.username %>: <%= @post.title %> </h3>
          <p style = "text-align:left"><%= @post.created_at.strftime("%B %d, 20%y") %></p>
        </td>
      </tr>
      <tr>
        <td colspan = "2">
          <center>
            <% if @post.post_file? %>
              <%= post_file_for(@post) %><br>
            <% end %>
          </center>
        </td>
      </tr>
      <tr>
        <td>
          <p style = "text-align:left;font-size:16px;"> <%= @post.body %> </p>
        </td>
      </tr>
    </table>

    <p style = "text-align:left">
      <!-- determines if user has already liked the post and creates a different button depending on the circumstance -->
      <% pre_like = @post.likes.find { |like| like.user_id == current_user.id} %>
      <% if pre_like %> <!-- user has already liked the post -->
        <%= button_to 'Unlike', post_like_path(@post, pre_like), method: :delete, id: "function_button_negative" %>
      <% else %>  <!-- user has not liked the post -->
        <%= button_to 'Like', post_likes_path(@post), method: :post, id: "function_button_positive" %>
      <% end %>
      <%= pluralize(@post.likes.count, "Like") %>
      <br><br>
      <% if @post.user == current_user %>
        <table>
          <tr>
            <td>
              <%= button_to 'Edit post', edit_post_path, :method => :get, id: "post_function_button" %>
            </td>
            <td>
              <%= button_to 'Delete post', post_path(@post), :method => :get, id: "post_function_button_negative", method: :delete, data: {confirm: 'Are you sure? You cannot reverse this decision'} %>
            </td>
          </tr>
        </table>
      <% end %>
    </p>

    <% if @post.comments.count >= 1 %>
      <hr>
      <h3> Comments</h3>
      <div id = "comments_main">
      <% @counter = 1 %>
        <% @post.comments.reverse_each do |comment| %>
          <% if @counter != 1 %>
            <hr>
          <% end %>
          <p style = "text-align:left">
            <strong><%= comment.commenter %></strong>: <%= comment.created_at.strftime("%B %d, 20%y") %><br>
            <%= comment.body %>
          </p>
          <% if (@post.user == current_user) or (comment.commenter == current_user.username) %>
            <p style = "text-align:left">
              <%= button_to 'Delete', [comment.post, comment], method: :delete, id: "delete_comment" %>
            </p>
          <% end %>
          <% @counter += 1 %>
        <% end %>
      </div>
    <% end %>
    <hr id = "horizontal_ruling">
    <h3> Post a Comment</h3>
    <%= render 'comments/commentCreateForm' %>
  </article>
</center>
