<nav>
  <table id = "show_post_header">
    <tr>
      <td>
        <%= link_to 'Back to Feed', root_path %>
      </td>
      <!-- To ensure only the owner of the post can edit or delete it, this if statement is used -->
      <% if @post.user == current_user %>
        <td>
          <%= link_to 'Edit post', edit_post_path, id: "function_button" %>
        </td>
        <td>
          <%= link_to 'Delete post', post_path(@post), id: "function_button", method: :delete, data: {confirm: 'Are you sure? You cannot reverse this decision'} %>
        </td>
      <% end %>
    </tr>
  </table>
</nav>

<article>
  <h3><%= link_to avatar_for(@post.user, size: 40), @post.user %> <%= @post.user.username %>: <%= @post.title %> </h3>
  <p><%= @post.created_at.strftime("%B %d, 20%y") %></p>
  <center>
    <% if @post.post_file? %>
      <%= post_file_for(@post) %><br>
    <% end %>
  </center>
  <p> <%= @post.body %> </p>
  <p>
    <!-- determines if user has already liked the post and creates a different button depending on the circumstance -->
    <% pre_like = @post.likes.find { |like| like.user_id == current_user.id} %>
    <% if pre_like %> <!-- user has already liked the post -->
      <%= button_to 'Unlike', post_like_path(@post, pre_like), method: :delete %>
    <% else %>  <!-- user has not liked the post -->
      <%= button_to 'Like', post_likes_path(@post), method: :post %>
    <% end %>
    <%= pluralize(@post.likes.count, "Like") %>
  </p>

  <table>
    <tr>
      <td>
        <strong> Comments </strong>
      </td>
      <td>
        <strong> Post a Comment</strong>
      </td>
    </tr>
    <tr>
      <td width = "500">
        <% @post.comments.reverse_each do |comment| %>
          <p>
            <strong><%= comment.commenter %></strong>: <%= comment.created_at.strftime("%B %d, 20%y") %><br>
            <%= comment.body %>
          </p>
          <% if (@post.user == current_user) or (comment.commenter == current_user.username) %>
            <%= link_to 'Delete', [comment.post, comment], method: :delete %>
          <% end %>
        <% end %>
      </td>
      <td valign = "top">
        <!-- this is the form that users fill out to post a comment. Calls _commentCreateForm.html.erb -->
        <%= render 'comments/commentCreateForm' %>
      </td>
    </tr>
  </table>
</article>
