<nav>
  <table id = "show_post_header">
    <tr>
      <td>
        <%= link_to 'Back', :back %>
      </td>
      <!-- To ensure only the owner of the post can edit or delete it, this if statement is used -->
      <% if @post.user == current_user %>
        <td>
          <%= link_to 'Edit post', edit_post_path, id: "function_link" %>
        </td>
        <td>
          <%= link_to 'Delete post', post_path(@post), id: "function_link", method: :delete, data: {confirm: 'Are you sure? You cannot reverse this decision'} %><br>
        </td>
      <% end %>
    </tr>
  </table>
</nav>

<article>
  <h3><%= link_to avatar_for(@post.user, size: 40), @post.user %><%= @post.user.username %>: <%= @post.title %> </h3>
  <p><%= @post.created_at.strftime("%B %d, 20%y") %></p>
                                      <% if @post.post_file? %>
                                        <%= post_file_for(@post) %><br>
                                      <% else %>
                                        No file :(
                                      <% end %>
  <p> <%= @post.body %> </p>
  <table>
    <tr>
      <td>
        <% @post.comments.reverse_each do |comment| %>
          <p>
            <strong><%= comment.commenter %></strong>: <%= comment.created_at.strftime("%B %d, 20%y") %><br>
            <%= comment.body %>
          </p>
          <% if (@post.user == current_user) or (comment.commenter == current_user.username) %>
            <%= link_to 'Delete', [comment.post, comment], method: :delete %>
          <% end %>
        <% end %>
      </td>
      <td>
        <!-- this is the form that users fill out to post a comment. Calls _commentCreateForm.html.erb -->
        <%= render 'comments/commentCreateForm' %>
      </td>
    </tr>
  </table>
</article>
