<!DOCTYPE html>
<html>
  <head>
    <title> Popper </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <center>
        <table id = "header_table">
          <tr>
            <% if current_user.present? %>
                <td width = "20%">
                  <center>
                  <%= link_to current_user do %>
                    <% @link = current_user.avatar.url(:thumb) %>
                    <%if @link %>
                      <div id = "avatar_image" style = "background: url(<%= @link %>)" >
                      </div>
                    <% else %>
                      <div id = "avatar_image" style = "background: url(<%= asset_path 'default_avatar.jpg' %>)">
                      </div>
                    <% end %>
                  <% end %>
                </center>
              </td>
            <% end %>
            <td width = "60%">
              <% if current_user.present? %>
                <p id = "popper_logo"><%= link_to 'Popper', root_path, id: "popper_logo"%></p>
              <% else %>
                <p id = "popper_logo"> Popper </p>
              <% end %>
            </td>
            <% if current_user.present? %>
              <td width = "10%">
                  <% if @page_before_viewing_post == 0 %>
                    <center>
                      <%= button_to 'Recents', posts_path, :method => :get, id: "header_function_button" %>
                    </center>
                  <% else %>
                    <center>
                      <%= button_to 'Explore', explore_path, :method => :get, id: "header_function_button" %>
                    </center>
                  <% end %>
              </td>
              <td width = "10%">
                <%= button_to 'Create Post', new_post_path, :method => :get, id: "header_function_button" %>
              </td>
            <% end %>
          </tr>
        </table>
      </center>
    </header>

    <div id = "container">
      <div id = "main">
        <%= yield %>
      </div>
    </div>

    <footer id = "footer">
      <p>Brought to you by Pop0097. Made in Spring 2020</p>
    </footer>

  </body>
</html>
