<!DOCTYPE html>
<html>
  <head>
    <title> Popper </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <table id = "header_table">
        <tr>
          <td width = "240px">
            <center>
              <% if current_user.present? %>
                <%= link_to current_user do %>
                  <% @link = current_user.avatar.url(:thumb) %>
                    <div id = "avatar_image" style = "background: url(<%= @link %>)" >
                    </div>
                <% end %>
              <% end %>
            </center>
          </td>
          <td>
            <% if current_user.present? %>
              <p id = "popper_logo"><%= link_to 'Popper', root_path, id: "popper_logo"%></p>
            <% else %>
              <p id = "popper_logo"> Popper </p>
            <% end %>
          </td>
          <% if current_user.present? %>
            <td width = "120px">
                <% if @var != 1 %>
                  <%= button_to 'Recents', posts_path, :method => :get, id: "header_function_button" %>
                <% else %>
                  <%= button_to 'Explore', explore_path, :method => :get, id: "header_function_button" %>
                <% end %>
            </td>
            <td width = "120px">
              <%= button_to 'Create Post', new_post_path, :method => :get, id: "header_function_button" %>
            </td>
          <% end %>
        </tr>
      </table>
    </header>

    <div id = "container">
      <div id = "main">
        <%= yield %>
      </div>
    </div>

    <footer id = "footer">
      <p>Brought to you by Pop0097. Made in Spring 2020</p>
    </footer>

  </body>
</html>
