<!DOCTYPE html>
<html>
  <head>
    <title> Popper! </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <table id = "header_table">
        <tr>
          <td>
            <% if current_user.present? %>
              <%= link_to avatar_for(current_user, size: 35), current_user %>
            <% end %>
          </td>
          <td>
            <% if current_user.present? %>
              <h1 id = "popper_logo"><%= link_to 'Popper', root_path, id: "popper_logo"%></h1>
            <% else %>
              <h1 id = "popper_logo"> Popper </h1>
            <% end %>
          </td>
            <td>
          <% if current_user.present? %>
            <% if @var != 1 %>
              <%= link_to 'Recents', posts_path, id: "function_button_positive" %>
            <% else %>
              <%= link_to 'Explore', explore_path, id: "function_button_positive" %>
            <% end %>
            <%= link_to 'Create Post', new_post_path, id: "function_button_positive" %>
          <% end %>
          </td>
        </tr>
      </table>
    </header>

    <div id = "container">
      <div id = "main">

          <!-- <p class="notice"><%= notice %></p> <p class="alert"><%= alert %></p> -->
        <!-- calls the other views in the Social_Media_Website folder -->
        <%= yield %>
      </div>
    </div>

    <footer id = "footer">
      <p>Brought to you by Pop0097. Made in Spring 2020</p>
    </footer>

  </body>
</html>
